<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControlCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ControlCenter.Properties.Settings>
            <setting name="DBMemLimit" serializeAs="String">
                <value>10240</value>
            </setting>
            <setting name="DBPath" serializeAs="String">
                <value>E:\</value>
            </setting>
            <setting name="DBBackPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DbServIP" serializeAs="String">
                <value>192.168.100.58</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6379</value>
            </setting>
            <setting name="ISaveImgNumByOnce" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IDelDataByOnce" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="IImgNumTwoPole" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="isDelAllDB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="currDBIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SubDbSize" serializeAs="String">
                <value>5000</value>
            </setting>
        </ControlCenter.Properties.Settings>
    </userSettings>
</configuration>