<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Project2C.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Project2C.Properties.Settings>
            <setting name="lastDbDir" serializeAs="String">
                <value />
            </setting>
            <setting name="loginId" serializeAs="String">
                <value />
            </setting>
            <setting name="loginUser" serializeAs="String">
                <value />
            </setting>
            <setting name="imgSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="loadDatabasePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="maxZeg" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="minZeg" serializeAs="String">
                <value>-400</value>
            </setting>
            <setting name="maxHei" serializeAs="String">
                <value>2100</value>
            </setting>
            <setting name="minHei" serializeAs="String">
                <value>-2100</value>
            </setting>
            <setting name="buchangHei" serializeAs="String">
                <value>60</value>
            </setting>
        </Project2C.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.112.0" newVersion="1.0.112.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
